.cart-container{
    background-color: brown;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
}
.cart-container-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}