.header{
    background-color: #836FFF;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header h1{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}