.delivery-modal-container{
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 250px;
    margin: auto;
    padding: 20px;
}
.delivery-modal-container select  {
    border: none;
    width: 100px;
    height: 2.2rem;
    padding: 5px;
    font-family: 'Arial', sans-serif;
    border-radius: 6px;
    border: 1px solid grey;
}
.delivery-modal-container input{
    border: none;
    height: 1.5rem;
    padding: 5px;
    font-family: 'Arial', sans-serif;
    border-radius: 6px;
    border: 1px solid grey;
}
.delivery-modal-container form{
    justify-content: center;
    align-content: center;
}
.delivery-flex-div{
    display: flex;
    gap: 10px;
}
.delivery-flex-items label{
    display: block;
}
.delivery-flex-items{
    margin: 2px;
}

.delivery-modal-container input[type=submit]{
    border: none;
    display: block;
    border-radius: 6px;
    padding: 5px;
    height: 2.5rem;
    width: 150px;
    background-color: cornflowerblue;
    color: white;
    font-size: 15px;
    font-family: 'Arial', sans-serif;
    border: 1px groove #0c0c0c;
}