.modal-checkout-container{
    background-color: #FFFAFA;
    min-width: 200px;
    max-width: 600px;
    margin: auto;
    padding: 15px;
}

.modal-checkout-container header{
    background-color: #FFFAFA;
    align-items: center;
    display: flex;
    gap: 5px;
    height: 20px;
    width: 100%;
    border-bottom: 1px solid rgb(199, 199, 199);
}
.checkout-body-container{
    padding: 10px;
}
.checkout-produtos-card{
    background-color: white;
    border-radius: 6px;
    margin-top: 5px;
    padding: 5px;
}
.checkout-body-header{
    padding: 5px;
    box-sizing: border-box;
    background-color: #7859ff;
    color: #FFF;
    font-family: 'Arial', sans-serif;
}
.checkout-section-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkout-section-flex h1{
    font-family: 'Arial', sans-serif;
    font-size: 20px;
}
.checkout-body-produtos text{
    color: #696969;
}
.checkout-body-produtos{
    height: 250px;
    padding: 10px;
    overflow-y: auto;
    box-sizing: border-box;
    background-color: #f7fafc;
}
.checkout-body-produtos h1{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}