.navbarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  min-height: 50px;
  background-color: #fffafa;
  border: 2px solid #eee9e9;
  overflow: hidden;
}
.navbarContainerScroll {
  position: fixed;
  top: 0;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .navbarContainer {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
.navbarContainer ul {
  font-weight: bolder;
  list-style: none;
  position: relative;
}
.liNormal {
  width: 150px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;

}
.liSelect {
  width: 150px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
  border-bottom: 2px solid black;

}
.navbarContainer li:hover {
  border-bottom: 2px solid #000000;
  opacity: 0.5;
}
.backButton{
  border-radius: 2px;
  margin-left: 5px;
  padding: 1px;
  border: none;
  background-color: #836FFF;
}
.navbarContainer img{
  
  width: 150px;
  height: 100px;
  border-radius: 10px;

}