.navbarContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    min-height: 50px;
    background-color: #FFFAFA;
    border: 2px solid #EEE9E9;
    overflow: hidden;
}
.navbarContainerScroll{
    position: fixed;
    top: 0;
    width: 100%;
  
}
@media screen and (max-width: 600px) {
    .navbarContainer{
       justify-content: flex-start;
        flex-wrap: wrap;
    }
 }
.navbarContainer ul{
    font-weight: bolder;
    list-style: none;
}
.navbarContainer li{
    width: 150px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.navbarContainer li:hover{
    border-bottom: 2px solid #000000;
    opacity: 0.5;
}

