.produto-container {
  display: flex;
  justify-content: center;
  justify-items: center;
  height: 100%;
}
.modal-container {
  background-color: white;
  width: 500px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media screen and (max-width: 600px) {
  .modal-container {
    width: 90%;
  }
}
.modal-container h1 {
  overflow: hidden;
  word-break: break-all;
  max-height: 80px;
  overflow: hidden;
}
.product-options {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-bottom: 1px groove snow;
}
.product-options a {
  width: 100%;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.modal-container textarea{
    width: 100%;
    height: 80px;
    border: 1px groove;
}
.product-buttons{
    width: 100%;
    display: flex;
    justify-content: center;
}
.product-buttons button{
    width: 100px;
    height: 30px;
    margin: 5px;
    border: 1px groove;
    border-radius: 5px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.product-buttons button:hover{
    opacity: 0.5;
}
.btn-cancel{
    background-color: #FF3030;
}
.btn-add{
    background-color: #836FFF;
}
